APP_ENV=local
LOG_PATH=logs/app.log

SYNC_ENABLED=true
NOTIFICATIONS_ENABLED=true

MONGODB_URI=
MONGODB_DB_NAME=vocabulary_bot

TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USER_ID=
TELEGRAM_TARGET_CHAT_ID=

POCKETBOOK_SYNC_ENABLED=true
POCKETBOOK_EMAIL=
POCKETBOOK_PASSWORD=
POCKETBOOK_REFRESH_TOKEN=
POCKETBOOK_SHOP_NAME=

GOOGLE_SHEET_SYNC_ENABLED=true
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SPREADSHEET_ID=
GOOGLE_SHEET_NAME=Vocabulary
GOOGLE_SHEET_RANGE=Vocabulary!A:Z
